{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cliente</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Cadastro de Cliente</h1>
        {% bootstrap_messages %}

        <form acrion="{% url 'cliente' %}" method="POST" class="form" autocomplete="off" enctype="multpart/form-data">
            {% csrf_token %}

            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            {% endbuttons %}
        </form>
    </div>
{% bootstrap_javascript jquery='full' %}    
</body>
</html>